<!DOCTYPE html>
<head>
  <title>OpenAI Quickstart</title>
  <link
    rel="shortcut icon"
    href="{{ url_for('static', filename='dog.png') }}"
  />
  <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}" />
</head>

<body>
  <h3>Ask ChatGPT anything! Twitter user edition</h3>
  <form action="/" method="post">
    <input type="text" name="year" placeholder="1960"/>
    <input type="text" name="question" placeholder="Enter a question" required />
    <input id="submit" type="submit" onclick="document.getElementById("wheel").style.display = "block";" value="Generate Answer" />
  </form>
  <br/>
  <img class="wheel" src="{{ url_for('static', filename='wheel.gif') }}"/>
  {% if result %}
  <div class="result">{{ result|safe }}</div>

  {% endif %}
</body>