<!DOCTYPE html>
<head>
  <title>OpenAI Quickstart</title>
  <link
    rel="shortcut icon"
    href="{{ url_for('static', filename='dog.png') }}"
  />
  <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}" />
</head>

<body>
  <h3>Ask ChatGPT anything! Twitter user edition</h3>
  <form action="/" method="post">
    <input type="text" name="year" placeholder="1960"/>
    <input type="text" name="question" placeholder="Enter a question" required />
    <input type="submit" value="Generate Answer" />
  </form>
  {% if result %}
  <div class="result">{{ result|safe }}</div>
  {% endif %}
</body>